@import "https://fonts.googleapis.com/css?family=Lato:400,700";

body {
  background-color: #fffdd0;
  font-family: "Lato", sans-serif;
  margin: 0px;
  width: 100%;
}

img{
  width: 321px;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header{
  background-color: chocolate;
  position: relative;
  bottom: 22px;
  color: #fffdd0;
}

.header h1{
  position: relative;
  top: 35px;
  margin-left: 20px;
}

.header h2{
  position: relative;
  bottom: 65px;
  margin-right: 20px;
}

.header p{
  position: relative;
  top: 10px;
  margin-left: 20px;
}

.header a{
  text-decoration: none;
  color: #fffdd0;
  font-weight: bolder;
}

.header a:hover{
  color: #8d5524;
}

.main{
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.kue{
  background-color: #ffcd94;
  color: #3c1321;
  height: 310px;
  border-radius: 20px;
}

.kue h2{
  margin-left: 20px;
  position: relative;
  bottom: 10px;
}

.kue h3{
  margin-left: 20px;
  position: relative;
  bottom: 20px;
}

.btn {
  width: 100px;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  margin: 15px;
  border: 0;
  background-color: #8d5524;
  color: #fffdd0;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  bottom: 85px;
  left: 190px;
}

.btn:hover {
  background-color: #3c1321;
}

.back-to-top{
  position: relative;
  top: 100px;
}

.back-to-top a{
  font-size: 17px;
  color: #3c1321;
  font-weight: bolder;
  text-decoration: none;
}

.back-to-top a:hover{
  color: #7e2262;
}

.footer {
  background-color: #3c1321;
  color: white;
  height: 70px;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
