@import "https://fonts.googleapis.com/css?family=Lato:400,700";

body {
  background-color: #fffdd0;
  font-family: "Lato", sans-serif;
  margin: 0px;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.container {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  color: #3c1321;
}

@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    grid-row-gap: 15px;
  }
}

input,
select {
  display: block;
  width: 70%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
  border-color: #3c1321;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #8d5524;
}

textarea {
  min-height: 120px;
  width: 70%;
  padding: 0.625rem;
  resize: vertical;
}

.btn {
  width: 100px;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  margin: 15px;
  border: 0;
  background-color: #8d5524;
  color: #fffdd0;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3c1321;
}
